.sidebarRow {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
}

.sidebarRow__icon {
    padding-left: 15px;
    padding-right: 10px;
    color: #40464f;
    font-size: larger !important;
}

.sidebarRow__header {
    flex: 1;
    font-size: 12px;
    font-weight: 500;
}

.sidebarRow:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
    color: red;
}

.sidebarRow:hover > .sidebarRow__header {
    font-weight: bolder;
}

.sidebarRow.selected {
    background-color: lightgrey;
}

.sidebarRow.selected > .sidebarRow__icon {
    color: red;
}
