.sidebar {
    flex: 0.2;
    border-right: 1px solid grey;
    height: 100%;
    background-color: white;
}

hr {
    height: 1px;
    border: 0;
    background-color: darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}
